.container-fluid {
    margin-top: 20px;
}

.row {
    margin-bottom:0px;
}

.jumbotron {
    height:350px;
    margin-bottom:0;
    
}

#jum1 {
  background-image: url("images/20180113074407.JPG")  
}

#flujum {
    padding-left: 0;
    padding-right: 0;
}

#coljum {
    padding-left: 0;
    padding-right: 0;
}

.navbar-fixed {
    top: 0;
    z-index: 100;
  position: fixed;
    width: 100%;
}

.display-4 {
    text-align: center;
}

.card-body {
    height: 350px;
}

.card-title {
    color: white;
}

#card1 {
    background-image: url("images/20180501212051.JPG")
}