.portfolioitem {
  width: 300px;
  height: 300px;
  float: left;
  position: relative;
  background-size: cover;
  position: relative;
  margin: 1em;
  }

#portfolio1 {
 background-image: url("images/IMG_0088.JPEG"); 
}    

.portfolioitem h4 {
  position: absolute;
  bottom: 1em;
  background-color: rgba(45, 75, 32, .2);
  /* alpha changes transparency 0-1 */
  width: 100%;
  text-align: center;
  padding: 1em;
  font-size: 12px;
  margin: 0;
  font-variant: small-caps;

}