*, *::after, *::before {
    box-sizing: border-box;
  }

body {
      background-image: url("images/light-grey-terrazzo.png");
      /* background-size: cover; */
      /* for portfolio page */
      background-repeat: repeat;
      background-color: darkgray;
      font-family: Arial, Helvetica, sans-serif;
  }

header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #ffffff;
    height: 80px;
    padding: 10px;
    padding-right: 16%;
    border: 1px solid #cccccc;
    text-align: right;
    margin-top: -20px;
    margin-right: -20px;
    margin-left: -20px;
    
    } 

.logo {
    position: absolute;
    background-color:teal;
    color: white;
    height: 70px;
    margin-top: 0;
    margin-left: 15%;
    padding-left: 10px;
    padding-right: 10px;
    /* padding: 10px; */
    float: left;
}


/* .clearfix::after {
        content: " ";
        display: block;
        } */

main {
    
}

#full {
        clear: both;
        overflow: auto;
        background-color:rosybrown;
        position: relative;
        width: 960px;
        height: 450px;
        margin: auto;
        margin-top: 20px;
        /* padding-left: 20px; */

        }      

.title {
    background-color: blue;
    /* position: absolute; */
    float: left;
    width: 960px;
}  

.text {
    /* float: left; */
   /* position: relative; */
   margin-top: 10%;
   margin-left: 150px;
/*     height: 120px;
   width: 120px; */
   /* background-color:green; */
}    

aside {
    /* float: left;
    /* position: absolute;  */
    margin-top: 10px;
    /* margin-left: 20px;
    height: 120px;
    width: 120px;
    background-color:violet;  */

  float: left;
  width: 33%;
  height: 200px;
  padding: 20px;
  margin: 10px;
  text-decoration-color: white;
  background: gray;
  border: 1px solid #eee;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 80px;
  width: 100%;
  border: 1px solid #cccccc;
  background-color: #ffffff;
  color: gray;
  text-align: center;
}



