*, *::after, *::before {
    box-sizing: border-box;
  }
/* header div - applies to only divs inside the header */

body {
      background-image: url("images/light-grey-terrazzo.png");
      /* background-size: cover; */
      /* for portfolio page */
      background-repeat: repeat;
      background-color: darkgray;
      font-family: Arial, Helvetica, sans-serif;
      margin: 0%;
      padding: 0%;
  }

header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #ffffff;
    height: 80px;
    padding: 10px;
    padding-right: 16%;
    border: 1px solid #cccccc;
    text-align: right;
    /* margin-top: -20px; */
    margin-right: 0%;
    margin-left: 0%;
    width: 100%;
    
    }
    
.logo {
    position: fixed;
    top: 0%;
    padding: 10px;
    padding-top: 15px;
    float: left;
    margin-left: 15%;
    background-color:teal;
    color: white;
    height: 80px;
    font-size: 36px;
  /* position: absolute; */
    /* margin-top: 0; */
    /* padding-left: 10px;
    padding-right: 10px; */
    /* a whole new section w/ both <div> h1 logo and <div>nav elements */
}

nav {
  margin-top: 10px;
  font-size: 24px;
  
}

nav a {
  text-decoration: none;
  padding-left: 10px;
}


#full {
        clear: both;
        overflow: auto;
        background-color: snow;
        /* position: relative; */
        width: 960px;
        height: auto;
        margin: auto;
        margin-top: 20px;
        /* padding-left: 20px; */

        }      

.title {
    background-color: snow;
    padding-left: 25px;
     /* position: relative;  */
     /* float: left;  */
    width: 960px;
    border-bottom: 3px solid gray;
    margin-bottom: 20px;
}  

    

img {
  /* position: relative; */
  float: left;
  max-height: 250px;
  max-width: 250px;
  /* height: 30%;
  width: 30%; */
  margin: 10px;
  margin-top: 0;
  /* background-color: #gray; */
}

footer {
  position: fixed;
  /* left: 0; */
  bottom: 0;
  height: 60px;
  width: 100%;
  border: 1px solid #cccccc;
  background-color: #ffffff;
  color: gray;
  text-align: center;
}


_#photos {
  /* Prevent vertical gaps */
  /* source: https://css-tricks.com/seamless-responsive-photo-grid/ */
  line-height: 5;
   
  -webkit-column-count: 5;
  -webkit-column-gap:   5px;
  -moz-column-count:    5;
  -moz-column-gap:      5px;
  column-count:         5;
  column-gap:           5px;  
}

_#photos img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
  position: absolute;
}

_.container {
  /* w33 */
  position: relative;
}

/* Bottom right text */


_aside {
    /* float: left;
    /* position: absolute;  */
    margin-top: 10px;
    /* margin-left: 20px;
    height: 120px;
    width: 120px;
    background-color:violet;  */

  float: left;
  width: 33%;
  height: 200px;
  padding: 20px;
  margin: 10px;
  text-decoration-color: white;
  background: gray;
  border: 1px solid #eee;
}

/* .clearfix::after {
        content: " ";
        display: block;
        } */
        
/* header div {
  width: 960px;
  margin: 0 auto;
}     */

/* .text { */
    /* float: left; */
   /* position: relative; */
   /* margin-top: 10%;
   margin-left: 150px; */
/*     height: 120px;
   width: 120px; */
   /* background-color:green; */
/* } */